[submodule "slurm-utils"]
	path = slurm-utils
	url = https://github.com/birc-aeh/slurm-utils.git
[submodule "seff-array"]
	path = seff-array
	url = git@github.com:ycrc/seff-array.git
[submodule "ycrc_vglrun"]
	path = ycrc_vglrun
	url = https://github.com/ycrc/ycrc_vglrun
